.display-inline {
    display: inline-block;
}
.top {
    vertical-align: top !important;
}
.text-info {
    color: #5bc0de !important;
}
.text-warning {
    color: #efb73e !important;
}
.text-primary {
    color: #e66c2c !important;
}
.image {
    width: 600px !important;
}